<!DOCTYPE html>
<html th:replace="~{/layouts/main :: layout(~{::head/content()}, ~{::body/content()})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>edit author</title>
</head>

<body>
<h1>edit author</h1>

<th:block th:if="${author.errors.size()>0}">
    <p th:text="${author.errors}"></p>
</th:block>

<form action="/author/update" method="post">
    <input name="id" th:value="${author.id}" type="hidden">
    <div class="mb-3">
        <label class="form-label" for="name">name</label>

        <input aria-describedby="nameHelp" class="form-control" id="name" name="name" placeholder="Enter name"
               th:value="${author.name}" type="text">

        <div class="form-text" id="nameHelp"></div>
    </div>
    <div class="mb-3">
        <label class="form-label" for="createAt">createAt</label>

        <input aria-describedby="createAtHelp" class="form-control" id="createAt" name="createAt" placeholder="Enter createAt"
               th:value="${author.createAt}" type="datetime">

        <div class="form-text" id="createAtHelp"></div>
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
</form>
</body>
</html>
