<!DOCTYPE html>
<html th:replace="~{/layouts/main :: layout(~{::head/content()}, ~{::body/content()})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>create ${propertyName}</title>
</head>

<body>
<h1>create ${propertyName}</h1>

<th:block th:if="\${${propertyName}.errors.size()>0}">
    <p th:text="\${${propertyName}.errors}"></p>
</th:block>

<form action="/${propertyName}/save" method="post">
    <%
    out << grin.cli.FormGenerator.generateForm(entityClass)
    %>
    <button class="btn btn-primary" type="submit">Submit</button>
</form>
</body>
</html>
